@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --fondo: #f3f4f6;
  --superficie: #ffffff;
  --texto: #0f0f0f;
}

.dark {
  --fondo: #0f0f0f;
  --superficie: #1f1f1f;
  --texto: #f3f4f6;
}

@theme inline {
  --color-fondo: var(--fondo);
  --color-superficie: var(--superficie);
  --color-texto: var(--texto);
}

@theme {
  --color-main-color: #e3000f;
  --color-secondary-color: #0f0f0f;
  --font-display: "Poppins";
}